html { 
  /*Image taken from Unsplash.com, with permission from Ben Neale*/
  background: url(https://images.unsplash.com/photo-1498736297812-3a08021f206f?auto=format&fit=crop&w=1357&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif; 
}

.profile-box {
	width: 400px;
	height: 465px;
	background: rgba(40, 40, 40,0.4);
	padding: 30px;
	color: white;
	margin:0 auto;
	margin-top: 100px;
	text-align: center;
}

.profile-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px; 
}

h1 {
	color: aquamarine;
    font-family: 'Roboto', sans-serif;
	font-weight: 10; 
	letter-spacing: 5; 
	font-size: 40px;
}

h5 {
	font-size: 15;
    font-weight: 400;
    letter-spacing: 0.5;
}

p {
	font-weight: 200;
	letter-spacing: 1;
}

.social-icons {
	font-size: 30px;
}

.social-icons a {
	color: white;
}

.social-icons a:hover {
    color: darkgray;
}

.line-break {
	width: 325px;
	margin: 0 auto;
	border-top: 1px solid white;
}










